  <p>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :rules %>
    <%= f.text_area :rules %>
  </p>

  <p>
    <%= f.label :ratings %>
    <%= f.check_box :ratings %>
  </p>
  <p>
    <%= f.label :votes %>
    <%= f.check_box :votes %>
  </p>
  <p>
    <%= f.label :begin %>
    <%= f.datetime_select :begin %>
  </p>
  <p>
    <%= f.label :end %>
    <%= f.datetime_select :end %>
  </p>
